body{
  background-color: #a4161a;
  color: #161a1d;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button{
  border-radius: .5rem;
  padding: 1rem;
  font-size: large;
  outline: none;
  border: white;
}

button:hover{
  cursor: pointer;
}
#C_Full{
  position: absolute;
  height: 100vh;
  width: 100rem;
  left: 0rem;
  bottom: 0rem;
  background-color: #CA2430 !important;
  color: #161a1d;
 
}


#T-Text{
  position: absolute;
  text-wrap: nowrap;
  bottom: 4rem;
  left: 51rem;
}
.container{
  position: relative;
  left: 0;
  right: 0;
  top: 8vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
  max-height: 88vh;
}
.Passes{
  background-color: #f5f3f4;
  position: relative;
  bottom: 1rem;
  margin: 0.25rem;
  left: 0rem;
}

.Passes:hover, #clear:hover, #Toggle:hover{
  border-color: black;
  border-width: 0.1rem;
  outline: none;
}


.Link{
  color: black;
}

.Passes:active, #Toggle:active{
  background-color: #161a1d;
  color: #f5f3f4;
}

h1{
  position: relative;
  bottom: 0rem;
  font-size: 2.5rem;
}

#display{
  position: relative;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5rem;
  width: fit-content;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f5f3f4;
}

#displayWrapper{
  position: relative;
  min-height: 30vh;
}

#clear{
  position: relative;
  left: 40%;
  width: 12vh;
}

#X-Factors_{
  position: relative;
  right: 35%;
  width: 15vh;
}

#clear, #X-Factors_{
  height: 8vh;
  bottom: 10rem;
}
#chances{
  display: grid;
  grid-template-areas:
    "catch drop int"
    "catch_chance drop_chance int_chance"
}

#catch{
  grid-area: catch;
}

#drop{
  grid-area: drop;
}

#int{
  grid-area: int;
}

#current{
  position: relative;
  bottom: 9rem;
}
.Upper, .Lower{
  bottom: 8rem;
  position: relative;
  margin-top: -2rem;
}

#Home{
  width: 10rem;
  position: absolute;
  bottom: 2em;
  right: 100vh;
}
#Toggle{
  width: 10rem;
  position: absolute;
  bottom: .8em;
  left: 50rem;
}
#team{
  width: 10rem;
  position: absolute;
  bottom: 8rem;
  left: 51rem;
}

  #containerX{
    color: white;
  }

#container{
    
    position: relative;
    bottom: 2rem;
    text-align: center;
    display: grid;
    grid-template-areas:
    "title1 title2 title3"
      "STM Mossed DPD"
      "Mahomes Open slant_slayer"
      "deep Fast Ball_Hawk"
      "- - swatted"
      "back -- reset"
}

.onR, .on{
    background-color: white;
    
}

.offR{
    background-color: #8E7831;
    box-shadow: 0 0 2.5rem #8E7831;
    
}
.off{
    background-color: #FFB612;
    box-shadow: 0 0 2.5rem #FFB612;
   
}

.on, .onR, .off, .offR{
  outline: none;
  border:none;
}

.off:active, .off:active{
  outline: none;
  border:none;
}
h1{
    text-align: center;
    position: relative;
    bottom: 2rem;
}
#Short{
    grid-area: STM;
}

#MAHOMES{
    grid-area: Mahomes;
}

#deep{
    grid-area: deep;
}

#Mossed{
    grid-area: Mossed;
}

#open{
    grid-area: Open;
}

#Fast{
    grid-area: Fast;
}

#DPD{
    grid-area: DPD;
}

#Ball{
    grid-area:  Ball_Hawk;
}

#Swatted{
    grid-area: swatted;
}

#Slant{
    grid-area: slant_slayer;
}

#title1{
    grid-area: title1;
}

#title2{
    grid-area: title2;
}

#title3{
    grid-area: title3;
}

#Back{
    grid-area: back;
    margin-top: 5rem;
}

#Reset{
    grid-area: reset;
    margin-top: 5rem;;
}

#Reset:active{
    background-color: #FFB612;
}
.btn, .onR, .offR, .on, .off{
    margin: 1rem;
}
#ack{
    position: absolute;
    bottom: 2rem;
  
}
