#wall{
    background-image: linear-gradient(135deg,#a4161a, #24125f);
    height: 50rem;
    width: 100rem;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    
}

.Line2{
    color: black;
}

#Title, #start{
    position: relative;
    top: 30%;
}
#start{
    display: flex;
    justify-content: center;
}

#Titles{
    font-size: 3rem !important;
}

#start_button{
    width: 12rem;
    height: 6rem;
    font-size: 1.8rem;
    outline: none;
    border-radius: 0.25rem;
}

#start_button:hover{
    color: #24125f;
    border:aliceblue;
}